<mat-toolbar>
  <span class="flex-auto">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <button mat-icon-button [routerLink]="'/'">
    <img src="assets/images/banana.ico" />
  </button>
  <button mat-button class="text-base sm:text-2xl" [routerLink]="'/'">経済学部同好会</button>
  <span class="flex-auto"></span>
  <button mat-icon-button [routerLink]="'/contact'">
    <mat-icon>mail_outline</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="'/accounts/account'">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      <mat-list-item routerLink="/seminar" (click)="sidenav.close()">
        <span>ゼミ紹介</span>
      </mat-list-item>
      <mat-list-item routerLink="/room" (click)="sidenav.close()">
        <span>購読室</span>
      </mat-list-item>
      <mat-list-item routerLink="/printer" (click)="sidenav.close()">
        <span>印刷 </span>
      </mat-list-item>
      <mat-list-item routerLink="/tests" (click)="sidenav.close()">
        <span>期末試験問題 </span>
      </mat-list-item>
      <mat-list-item routerLink="/contact" (click)="sidenav.close()">
        <span>お問い合わせ</span>
      </mat-list-item>
      <mat-list-item routerLink="/accounts/account" (click)="sidenav.close()">
        <span>アカウント設定</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button [routerLink]="'/'">
        <img src="assets/images/banana.ico" />
      </button>
      <h1 [routerLink]="'/'">経済学部同好会</h1>
      <span class="flex-auto"></span>
      <a mat-button [routerLink]="'/'">
        <span>Home</span>
      </a>
      <a mat-button [routerLink]="'/contact'">
        <span>Contact</span>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
