<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button [routerLink]="'/'">
        <!-- <img src="assets/images/sample.svg" /> -->
      </button>
      <h1>経済学部同好会</h1>
      <span class="flex-auto"></span>
      <a mat-button [routerLink]="''">
        <span>Home</span>
      </a>
      <a mat-button [routerLink]="'/contact'">
        <span>Contact</span>
      </a>
      <!-- <a mat-button [routerLink]="'/others'">
        <span>Others</span>
      </a> -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
