<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card class="mb-10">
    <mat-card-title>ゼミ紹介</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content
      ><p>
        京都大学経済学部では2回生よりゼミに入ることが可能となっており、11月に選考が始まります。
      </p>
      <p>経済学部同好会では10月末に経済学部ゼミ合同説明会を開催しております。</p>
      <p>ゼミへの参加は必須ではありませんが、卒業論文を作成する場合、必須となります。</p>
      <p>
        毎年、1回生はほぼ全員にご参加頂いております。ゼミ選びの第一歩でもありますので是非ご参加ください。
      </p>
    </mat-card-content>
    <br />
    <mat-card-content
      ><p>本アプリでは過去のゼミ説明で使用した資料の一部を公開しております。</p>
      <p>
        過去の情報のため、現在では開講していないゼミ等もございますが、参考にしていただければ幸いです。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>過去のゼミ紹介</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content
      ><p>過去のゼミ説明会で使用したファイルを公開しております。</p>
      <p>年度によっては欠損しているものもございますが、ご了承ください。</p></mat-card-content
    >
    <mat-nav-list class="mb-4">
      <mat-list-item class="flex flex-wrap">
        <span class="flex-auto break-all"></span>
        <span class="break-all">2019年度ゼミ説明会 (2018年10月31日開催)</span>
        <span class="flex-auto break-all"></span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="flex-auto break-all"></span>
        <span class="break-all">2020年度ゼミ説明会 (2019年11月1日開催)</span>
        <span class="flex-auto break-all"></span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="flex-auto break-all"></span>
        <span class="break-all">2021年度ゼミ説明会 (2020年11月6日開催)</span>
        <span class="flex-auto break-all"></span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="flex-auto break-all"></span>
        <span class="break-all">2022年度ゼミ説明会 (2021年10月28日開催)</span>
        <span class="flex-auto break-all"></span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-nav-list>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>今年度のゼミ紹介</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content
      ><p>今年度のゼミ説明会はこちらからお申し込みください。</p>
      <p>1回生はもちろんのこと、2回生以上も参加可能ですので、奮ってご参加ください。</p>
      <p>申し込みフォームは毎年秋頃に公開予定です。</p></mat-card-content
    >
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex-auto">
        <a mat-flat-button color="accent" href="">申し込みフォーム</a>
      </div>
    </div>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>各ゼミ担当者の方へ</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content
      ><p>各ゼミ担当者はゼミ説明会の開催日の1週間前までにゼミ紹介原稿を作成してください。</p>
      <p>
        冊子掲載順は提出順となり、発表順もこれに従います。
        手書きで作成し、事務室まで持ちこんでいただくか、スキャンデータを同好会アドレスまでご送付ください。
        WordやAdobe
        Acrobatで編集していただいても構いませんが、1ページにまとまるように作成し、PDF形式でご送付ください。
        2ページ以上のデータの場合、こちらの判断で1ページにさせていただきます。
      </p>
      <p>
        また、ゼミ紹介でスライドショーなどを使用する場合はそれのデータの提出もお願いします。PowerPoint、PDFの使用が可能です。
      </p>
      <p>発表時間は各ゼミとも3分を予定しております（時間厳守でお願いいたします）。</p>
      <p>
        また、自主ゼミにつきましては2021年開催分より一部許可しております。
        参加したい団体は自主ゼミ活動報告書を作成し、提出してください。
        (内容によってはご参加いただけない場合もありますが、ご容赦ください。)
        内容を確認次第、参加の可否をお伝えするとともに、参加いただく団体には自主ゼミ紹介原稿フォーマットを送付します。
      </p>
    </mat-card-content>
    <mat-nav-list class="mb-4">
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <div class="flex-auto"></div>
        <div class="flex-auto">
          <a color="accent" href="">ゼミ紹介原稿フォーマット</a>
        </div>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <div class="flex-auto"></div>
        <div class="flex-auto">
          <a color="accent" href="">自主ゼミ活動報告書フォーム</a>
        </div>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-nav-list>
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex-auto">
        <button mat-flat-button color="primary" routerLink="/contact">原稿提出</button>
      </div>
    </div>
  </mat-card>
</div>
