<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card class="mb-10">
    <mat-card-title>輪転機ご利用方法</mat-card-title>
    <mat-card-content
      ><p>輪転機は皆様のご協⼒で成り⽴っております。</p>
      <p>
        輪転機利⽤の際は「使用枚数報告フォーム」に利⽤⽇・団体名・利⽤者⽒名・連
        絡先・使⽤前後の印刷枚数・使⽤前後のマスター枚数をご記⼊ください。後⽇、同好会常
        任委員より使⽤料⾦の請求をさせていただきます。
      </p>
      <p>
        ⽤紙は持ち込み制となっております。ご⾃⾝でお持ちください。
        マスター切れ・インク切れの際は向かいの経済学部同好会事務室までお越しく
        ださい。マスター・インクの交換をされていただきます。
      </p>
      <p>
        万が⼀、事務室に経済学部同好会常任委員が不在の際はお⼿数ですが、下記「お問い合わせ」よりご連絡いただけますと幸いです。
      </p>
      <p>
        輪転機は経済学部同好会の管理ですが、モノクロコピー機は経済学部総務掛の管理となります。インク切れ、⽤紙切れの際は総務掛までご報告ください。
      </p>
    </mat-card-content>
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex-auto">
        <button mat-flat-button color="accent" routerLink="/printer/report">
          使用枚数報告フォーム
        </button>
      </div>
      <div class="flex-auto">
        <button mat-flat-button color="primary" routerLink="/contact">お問い合わせ</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>使用方法</mat-card-title>
    <mat-card-content
      >電源ON、紙と原本のセット、製版、印刷。別のドキュメントを印刷するときは再度製番から</mat-card-content
    >
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>よくあるトラブル</mat-card-title>
    <mat-card-content
      ><p>・印刷が薄い</p>
      <p>「製版」直後の印刷は薄くかすれて出るケースがあります。</p>
      <p>
        これは多くの場合、インクが「版
        マスター」に染み込まないためです。何度か繰り返し「試し刷り」や「印刷」を行ってください。
      </p>
      <p>
        これが原因の場合，再び「製版」しても印刷は濃くなりません。（マスターが１カウント余計に使われることになります）
      </p>
      <p>何度か印刷をしても印字が改善されない場合、以下の原因が考えられます。</p>
      <p>1. 印刷の「濃度」設定が薄い</p>
      <p>2. 製版の 「読み取り濃度」設定が薄い</p>
      <p>濃度は5段階で設定可能ですので調節して再度お試しください。</p>
    </mat-card-content>
    <mat-card-content>
      <p>・紙が複数取り込まれる</p>
      <p>
        長時間の印刷でローラーが温まると紙が複数取り込まれることがあります。このときは少し印刷を中断してください。
      </p>
      <p>
        連続稼働していない時に数枚の用紙がまとめて取り込まれることが頻発することがあります。その際は給紙トレイの上にある「給紙圧」レバーが「厚紙」になっていないか確認ください。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>個人情報の取り扱いに関して</mat-card-title>
    <mat-card-content
      ><p>
        「一度製版された文書
        は、再度、製版されるまで電源を一度落としても何度も印刷することができます。
      </p>
      <p>個人情報や機密を印刷した後は、別の文書で製版するか、原稿なしでの再製版をお願いします。</p>
      <p>再製版時、前のマスターは廃版BOXへと移ります。</p>
      <p>廃棄する際は、給紙トレイ上部のレバーを引いて中のマスターを処分してください。</p>
      <p>
        なお、個人情報等が記載されていない文書の場合は上記の手順をとっていただく必要はありません．
      </p>
    </mat-card-content>
  </mat-card>
</div>
