<div class="text-center">
  <mat-card>
    <mat-card-title>サインイン</mat-card-title>
    <mat-card-subtitle>経済学部同好会アカウントでログイン</mat-card-subtitle>
    <mat-card-content
      >アカウントをお持ちの場合こちらからログインしてください。<br />全ての機能が有効になります。</mat-card-content
    >
    <form #formRef="ngForm" (submit)="onSubmit(mailRef.value, passwordRef.value)">
      <mat-form-field hintLabel="@までを入力" class="w-4/5 md:w-1/4" appearance="fill">
        <mat-label>メールアドレス</mat-label>
        <input #mailRef ngModel name="mail" matInput required placeholder="Input value" />
      </mat-form-field>
      <mat-form-field class="w-4/5 md:w-1/4" appearance="fill">
        <mat-label>所属</mat-label>
        <mat-select [(ngModel)]="mailDomain" name="domain">
          <mat-option value="@st.kyoto-u.ac.jp">@st.kyoto-u.ac.jp</mat-option>
          <mat-option value="@kyoto-u.jp">@kyoto-u.jp</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field hintLabel="8文字以上" class="w-4/5 md:w-1/2" appearance="fill">
        <mat-label>パスワード</mat-label>
        <input
          #passwordRef
          ngModel
          [type]="isPasswordVisible ? 'text' : 'password'"
          name="password"
          matInput
          required
          placeholder="Input value"
          minlength="8"
        />
        <button mat-button type="button" matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>
            {{ isPasswordVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
      </mat-form-field>
      <br />

      <button mat-flat-button color="primary" type="submit" [disabled]="formRef.invalid">
        サインイン
      </button>
      <br /><br />
      <p>
        アカウントをお持ちではない方はこちら
        <strong class="underline 2px"
          ><a class="text-blue-700" routerLink="/accounts/signup">サインアップ</a></strong
        >
      </p>
    </form>
  </mat-card>
</div>
