<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card class="mb-10">
    <mat-card-title>白黒コピー機概要</mat-card-title>
    <mat-card-content>
      <p>
        白黒コピー機は経済学部総務掛の所管となっており、経済学部同好会は経済学部総務掛より委託を受け、コピー機の運用を行っております。インク切れ、⽤紙切れの際は総務掛までご報告ください。
        経済学部生は一年間に100枚の印刷が可能です。
        ご利用にはコピーカードが必要ですのでお持ちでない方は事務室までお越しください。学生番号の確認後、お渡しいたします。
      </p>
      <p></p>
      <p>A4,A3,B4の3サイズの印刷が可能です。</p>

      <p></p>
    </mat-card-content>
    <mat-card class="mb-10">
      <mat-card-title>コピー機使用方法</mat-card-title>
      <mat-card-content>
        <ol>
          <li>1.コピーカードを読み取り機に挿入してください。</li>
          <li>
            2.原稿を上の原稿トレイまたは原稿ガラスに入れ、コピーしてください。USBから出力してPDF等を印刷することはできません。
          </li>
          <li>3.残回数が0になったカードは下にある回収BOXに入れてください。</li>
        </ol>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
