<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card class="mb-5">
    <mat-card-title>期末試験問題</mat-card-title>
    <mat-card-content>
      <p>このページでは，期末試験問題を要約して公開しています。</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-nav-list>
      <h3 matSubheader>年度</h3>
      <mat-divider></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all">
          <a
            href="https://docs.google.com/spreadsheets/d/1IFRL-sNffU87FTOPtplLP1Qtv-GCczRDtPJYOiNsWvo/edit?usp=sharing"
          >
            2022年度後期</a
          ></span
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
