<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card>
    <mat-card-title>お問い合わせ</mat-card-title>
    <mat-card-subtitle>なにかお困りの際は下記メールアドレスまで</mat-card-subtitle>
    <mat-card-content>
      京都大学経済学部同好会 常任委員会 <br />
      e.doukoukai@gmail.com
    </mat-card-content>
    <a
      mat-flat-button
      color="primary"
      href="mailto:e.doukoukai@gmail.com?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&body=%E7%B5%8C%E6%B8%88%E5%AD%A6%E9%83%A8%E5%90%8C%E5%A5%BD%E4%BC%9A%20%E5%B8%B8%E4%BB%BB%E5%A7%94%E5%93%A1%E4%BC%9A%20%E5%AE%9B%0D%0A"
      >メールアプリを開く</a
    >

    <mat-card-content class="mt-10">
      輪転機のインク交換のご依頼は直接事務室までお願いいたします。
    </mat-card-content>
  </mat-card>
</div>
