<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card>
    <mat-card-title>アカウント設定</mat-card-title>
    <mat-list>
      <ng-container *ngIf="!user; then loading; else loaded"></ng-container>
      <ng-template #loading>
        <p>Invalid Account!</p>
      </ng-template>
      <ng-template #loaded>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">User ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.uid }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <!-- <mat-list-item class="flex flex-wrap">
          <span class="break-all">Display Name:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.displayName }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider> -->
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Email Address:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.email }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Account Verified:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!user?.emailVerified; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Verified</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>Unverified</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-card>
</div>
