<div class="w-full lg:mx-auto lg:w-1/3">
  <mat-card class="mb-20">
    <mat-card-title>京都大学 経済学部同好会</mat-card-title>
    <mat-card-subtitle>~Since 1919~</mat-card-subtitle>
    <img
      class="object-scale-down h-72 w-1/2"
      mat-card-image
      src="assets/images/doukoukai.jpg"
      alt="Photo of a flag of Doukoukai"
    />
    <mat-card-content>
      <p>京都大学経済学部同好会は経済学部の自治会です。</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="mb-20">
    <mat-card-title>学生アカウントメニュー</mat-card-title>
    <mat-card-subtitle>一部の機能はログインなしでもお使いいただけます</mat-card-subtitle>
    <ng-container *ngIf="!user; then loading; else loaded"></ng-container>
    <ng-template #loading>
      <div class="flex">
        <div class="flex-auto"></div>
        <div class="flex-auto">
          <button mat-flat-button color="primary" routerLink="/accounts/signup">
            学生アカウントを作成
          </button>
        </div>
        <div class="flex-auto">
          <button mat-flat-button color="accent" routerLink="/accounts/signin">ログイン</button>
        </div>
      </div>
    </ng-template>
    <ng-template #loaded>
      <div class="flex">
        <div class="flex-auto"></div>
        <div class="flex-auto">
          <button mat-flat-button color="primary" routerLink="/accounts/account">マイページ</button>
        </div>
        <div class="flex-auto">
          <button mat-flat-button color="accent" (click)="onClickSignout()">ログアウト</button>
        </div>
      </div>
    </ng-template>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title> モバイル端末へのインストール方法 </mat-card-title>
    <mat-card-subtitle
      >経済学部同好会WEBアプリはPWA(プログレッシブウェブアプリ)に対応しており、ブラウザ上でも全ての機能をお使いいただけますが、iPhone,
      Androidへのインストールが可能です。是非、ご利用ください。</mat-card-subtitle
    >
    <img
      class="object-scale-down h-72 w-1/2"
      mat-card-image
      src="assets/icons/apple-touch-icon-192x192.png"
      alt="Photo of a icon of Doukoukai app"
    />
    <mat-card-title>iPhoneへのインストール</mat-card-title>
    <mat-card-content>
      Safariでこのページを開き、画面中央下のSafariのメニューから「ホーム画面に追加」を選ぶことで、ホーム画面に「同好会」アプリが追加されます。
    </mat-card-content>
    <mat-card-title>Androidへのインストール</mat-card-title>
    <mat-card-content>
      Google Chromeでこのページを開くと「ホーム画面に 同好会
      を追加」のポップアップが開きますので、「インストール」を押すとアプリとして追加されます。
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>機能メニュー</mat-card-title>
    <mat-nav-list>
      <h3 matSubheader>コンテンツ</h3>
      <mat-list-item routerLink="/seminar">
        <mat-icon color="accent" class="mr-4">info</mat-icon>
        経済学部ゼミ紹介
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/room">
        <mat-icon color="accent" class="mr-4">watch_later</mat-icon>
        購読室利用申し込み
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/printer">
        <mat-icon color="accent" class="mr-4">invert_colors</mat-icon>
        印刷室ご利用方法
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">language</mat-icon>
        編入生支援
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>資料</h3>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">theaters</mat-icon>
        過去のゼミ説明会
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">today</mat-icon>
        過去問
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">library_books</mat-icon>
        学生便覧
      </mat-list-item>
      <mat-divider></mat-divider> -->
      <h3 matSubheader>その他</h3>
      <!-- <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">storage</mat-icon>
        SNS
      </mat-list-item>
      <mat-divider></mat-divider> -->
      <mat-list-item routerLink="/contact">
        <mat-icon color="accent" class="mr-4">mail_outline</mat-icon>
        お問い合わせ
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/accounts/account">
        <mat-icon color="accent" class="mr-4">settings</mat-icon>
        アカウント設定
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
