<div class="text-center">
  <h2>京都大学経済学部同好会</h2>
  <h3>103rd ～Since 1919～</h3>
  <mat-card class="mb-20">
    <ng-container *ngIf="!user; then loading; else loaded"></ng-container>
    <ng-template #loading>
      <div class="flex">
        <div class="flex-auto">
          <button mat-flat-button color="primary" routerLink="/accounts/signup">
            学生アカウントを作成
          </button>
        </div>
        <div class="flex-auto">
          <button mat-flat-button color="accent" routerLink="/accounts/signin">
            学生アカウントでログイン
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #loaded>
      <div class="flex">
        <div class="flex-auto">
          <button mat-flat-button color="primary" routerLink="/accounts/account">マイページ</button>
        </div>
        <div class="flex-auto">
          <button mat-flat-button color="accent" (click)="onClickSignout()">ログアウト</button>
        </div>
      </div>
    </ng-template>
  </mat-card>

  <h3>メニュー</h3>
  <mat-card>
    <mat-nav-list>
      <h3 matSubheader>コンテンツ</h3>
      <mat-list-item routerLink="/seminar">
        <mat-icon color="accent" class="mr-4">info</mat-icon>
        経済学部ゼミ紹介
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/room">
        <mat-icon color="accent" class="mr-4">watch_later</mat-icon>
        購読室利用申し込み
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">invert_colors</mat-icon>
        印刷室ご利用方法
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">language</mat-icon>
        編入生支援
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>資料</h3>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">theaters</mat-icon>
        過去のゼミ説明会
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">today</mat-icon>
        過去問
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">library_books</mat-icon>
        学生便覧
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>その他</h3>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">storage</mat-icon>
        SNS
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/">
        <mat-icon color="accent" class="mr-4">mail_outline</mat-icon>
        お問い合わせ
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/accounts/account">
        <mat-icon color="accent" class="mr-4">settings</mat-icon>
        アカウント設定
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
